tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #005B51;
  color: white;
  margin-right: auto;
}

td
{
  text-align: center;
  vertical-align: middle;
}

button.green:hover{
  background-color: #005B51;
}

button.evaluation:hover {
  background-color: #FF9300;
  color: white;
}

table {
  overflow-y: scroll;
}

button {
  min-width: 50%;
}

@media (max-width: 1310px) {
  button {
    width: 100%;
  }
}

