tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #005B51;
  color: white;
  margin-right: auto;
}

td
{
  text-align: center;
  vertical-align: middle;
}

table {
  overflow-y: scroll;
}

button {
  min-width: 50%;
}

@media (max-width: 1310px) {
  button {
    width: 100%;
  }
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-menu > button:hover {
background-color: #F3FBED;
}

