
<div class="card mx-auto border-0 mb-5" style="max-width: 600px">
  <div class="card-body rounded shadow mt-4 bg-white border-0" (click)="navigateToDetails()">

    <div class="container cardio">
      <div class="row">
        <div class="col-4">
          <label for="startCity" class="logoGreenDark">Von:</label>
          <span id="startCity" class="logoGreenDark"> Frankfurt</span>
        </div>

        <div class="col-4">
          <label for="endCity" class="logoGreenDark">Nach:</label>
          <span id="endCity" class="logoGreenDark"> Köln</span>
        </div>


        <div class="col-4">
          <div class="text-right">
            <span class="mr-2 logoGreenDark">Test</span>
            <img class="profil" src="../../../../assets/img/Icons/user_icon.svg" width="30em" alt="Profilbild">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col">
          <hr/>
        </div>
      </div>


      <div class="row">
        <div class="col-9">
          <div class="form-group">
            <label class="logoGreenDark" for="time">Abahrtszeit</label>
            <input type="datetime-local" class="form-control" id="time" readonly>
          </div>
        </div>



        <div class="col-2">
          <div class="form-group">
            <label class="logoGreenDark" for="time">Dauer</label>
            <div>4,5</div>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <img src="../../../..//assets/img/Icons/user_icon.svg" alt="storage" style="width: 2em">
          <span class="logoGreenDark"> 4mq</span>
        </div>

        <div class="col text-center">
          <img src="../../../..//assets/img/Icons/user_icon.svg" alt="storage" style="width: 2em">
          <span class="logoGreenDark"> 4</span>
        </div>

        <div class="col text-center">
          <img src="../../../..//assets/img/Icons/user_icon.svg" alt="storage" style="width: 2em">
          <span class="logoGreenDark"> 264€</span>
        </div>
      </div>
    </div>


  </div>
</div>

