.logoGreenMedium:hover {
  color: #005B51;
}

.red {
  color: #DC3545;
}

.red:hover {
  color: #C82333;
}

button{
  border: none;
  background-color: transparent;
}

.resp {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background-color: #F3FBED;
  z-index: -1;
}

.flex {
  display: flex;
}

.column {
  flex-flow: column;
}

.profile {
  min-width: 25%;
  max-width: 25%;
  background-color: #F3FBED;
}

/* Tests */
/*

.scrollmenu {
  overflow: auto !important;
  white-space: nowrap;
}

.scrollmenu div {
  display: inline-block;
  padding: 14px;
  float: none;
}


.test > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.test > .row > .col-4 {
  display: inline-block;
}

.width {
  width: 100em;
}

.test > .row > .inline {
  display: inline-block;
}

.test {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
}
*/
