.logoGreenMedium:hover {
  color: #005B51;
}

.red {
  color: #DC3545;
}

.red:hover {
  color: #C82333;
}

button{
  border: none;
  background-color: transparent;
}

.resp {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background-color: #F3FBED;
  z-index: -1;
}
.star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #d3d3d3;
}
.full {
  color: #d38c2f;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #d38c2f;
}
