<div class="card" style="width: 18rem;">
  <div class="col-12 justify-content-center">
    <div class="modal-title text-center h4 mx-auto logoGreenDark">Fahrzeug</div>
  </div>
  <div class="card-body" *ngIf="car">
    <div class="row">
      <div class="form-group col-md-12">

        <input #FahrzeugModel
               type="text"
               class="form-control "
               id="inputFahrzeugModel"
               placeholder=""
               (keydown)="validFahrzeugModel(FahrzeugModel.value)"
               [(ngModel)]="car.model">
        <div *ngIf="fahrzeugModelMessage !== ''" class="text-danger">{{fahrzeugModelMessage}}</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">

        <input #kennzeichen
               type="text"
               class="form-control "
               id="inputkennzeichen"
               placeholder=""
               (keydown)="validKennzeichen(kennzeichen.value)"
               [(ngModel)]="car.mark">
        <div *ngIf="kennzeichenMessage !== ''" class="text-danger">{{kennzeichenMessage}}</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">

        <input #sitzplatze
               type="number"
               class="form-control "
               id="inputsitzplatze"
               placeholder=""
               (keydown)="validSitzplaze(sitzplatze.value)"
               [(ngModel)]="car.seats">
        <div *ngIf="sitzplazeMessage !== ''" class="text-danger">{{sitzplazeMessage}}</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">

        <input #stauraum
               type="number"
               class="form-control "
               id="inputstauraum"
               placeholder=""
               (keydown)="validStauraum(stauraum.value)"
               [(ngModel)]="car.storage">
        <div *ngIf="stauraumMessage !== ''" class="text-danger">{{stauraumMessage}}</div>
      </div>
    </div>
    <a class="btn btn-primary  btn-success mr-5">Speichern</a>
    <a class="btn btn-primary btn-danger ml-1" (click)="deleteEvent.emit()">Löschen</a>
   <!-- <h5 class="card-title">{{car.model}}</h5>
    <p class="card-text">{{car.mark}}</p>
    <p class=" card text">{{car.seats}} Plätze</p>
    <p class="card text" >{{car.storage}} </p>
   <a class="btn btn-primary  btn-success mr-5">Speichern</a>
    <a class="btn btn-primary btn-danger ml-1" (click)="deleteEvent.emit()">Löschen</a>-->
  </div>
</div>
