.h5 {
  font-family: Arial, serif;
  font-style: italic;
}

button {
  border: none;
  background-color: transparent;
}


:root {
  --gap: 1rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem)
}

nav {
  z-index: 1000;
  box-shadow: 0 5px 10px lightgray;
}

/*header*/
.primary-header {
  align-items: center;
  justify-content: space-between;
  display: block;
}

.primary-header {
  z-index: 1000;
  box-shadow: 0 5px 10px lightgray;
}

.mobile-nav-toggle {
  display: none;
}

.logo {
  margin: 2rem;
  width: 30%;
  max-width: 15em;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(0, 0%, 0%, 0.75);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0, 0%, 0%, 0.6);
    backdrop-filter: blur(1rem);
  }
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-inline-end: .5em;
}

@media(max-width: 75em) {
  .primary-header {
    display: block;
  }

  .primary-navigation {
    display: block;
  }

  .navbarTest {
    display: none;
  }

  .primary-navigation {
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 8rem) 2rem;
    --gap: 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    width: 1rem;
    border: 0;
    aspect-ratio: 1;
    top: 5%;
    right: 2rem;
    z-index: 10000;
    background: transparent url("src/assets/img/SVG/ic_menu_24px.svg") no-repeat;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("src/assets/img/SVG/ic_close_24px.svg");
  }

}


/*@media (min-width: 35em) {
  .primary-header {
    display: none;
  }
  .primary-navigation {
    --gap: 3rem;
    padding-block: 1rem;
    padding-inline: clamp(3rem, 10vw ,10rem);

  }
}
 */
