<div class="d-flex justify-content-center profile-header">


  <div class="d-flex justify-content-center m-5 profile-info">

    <div class="d-inline-flex">
      <svg class="profilePic"></svg>
    </div>

    <div class="d-inline-flex flex-column">
      <div class="h5 logoGreenDark">{{this.username}}</div>
      <div class="logoGreenDark"><span class="mr-1">{{this.firstname}}</span> <span>{{this.lastname}}</span></div>
      <div class="logoGreenDark">{{this.age}}</div>
      <div
        class="logoGreenDark">{{(this.gender === 'MALE') ? 'Männlich' : (this.gender === 'FEMALE') ? 'Weiblich' : (this.gender) ? 'Divers' : ''}}</div>
      <app-vote-stars [currentRate]="this.evaluation / this.evaluationCounter"></app-vote-stars>
      <div class="logoGreenDark">
        <span *ngIf="this.evaluation !== -1">{{this.evaluation / this.evaluationCounter}} </span>
        <span *ngIf="this.evaluation === -1">0 </span>
        von {{this.evaluationCounter}} Nutzern
      </div>
    </div>

  </div>

  <div class="d-inline-flex flex-column m-5">
    <div class="h5 logoGreenDark">Statistik</div>
    <div class="logoGreenDark">Ausgeführte Fahrten: {{this.executedTours()}}</div>
    <div class="logoGreenDark">Mitgefahren: {{this.goneWithNumber}}</div>
    <div class="logoGreenDark">Offene Fahrten: {{this.openOfferTours()}}</div>
    <div class="logoGreenDark">Offene Anfragen: {{this.openNoOfferTours()}}</div>
  </div>
</div>


<div class="tours d-flex flex-column" style="height: 22em">


  <h2 class="logoGreenDark">Offene Angebote von {{this.username}}</h2>
  <app-tour-table [usedList]="offerTours"></app-tour-table>


</div>


<div class="tours d-flex flex-column" style="height: 22em">


  <h2 class="logoGreenDark">Offene Anfragen von {{this.username}}</h2>

  <app-tour-table [usedList]="noOfferTours"></app-tour-table>


</div>

