<div class="test"></div>

<!--  Title -->
<div class="container title-background mw-100">
  <div class="row ">
    <div class="col text-center">
      <div class="h2 logoGreenDark m-3" *ngIf="this.on">Erstelle eine Anfrage</div>
      <div class="h2 logoGreenDark m-3" *ngIf="!this.on">Erstelle ein Angebot</div>
    </div>
  </div>
  <div class="row m-3 justify-content-center">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="logoGreenDark mr-3"><h5>Angebot</h5></div>
        <div>
          <label class="switch">
            <input type="checkbox" (click)="offerOnOff()">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="logoGreenDark ml-3"><h5>Anfrage</h5></div>
      </div>

    </div>
  </div>
</div>

<!-- Create-Form -->
<div class="container rounded shadow container mt-4 bg-white border-0">
  <div class="row m-4">
    <!--    <div class="col text-center h4 logoGreenDark m-3" *ngIf="on">Anfrage erstellen</div>-->
    <!--    <div class="col text-center h4 logoGreenDark m-3" *ngIf="!on">Angebot erstellen</div>-->
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="logoGreenDark" for="cityStart">Von</label>
        <input type="text" class="form-control" id="cityStart" [(ngModel)]="startCity">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label class="logoGreenDark" for="endCity">Nach</label>
        <input type="text" class="form-control" id="endCity" [(ngModel)]="endCity">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label class="logoGreenDark" for="date">Datum</label>
        <input type="datetime-local" class="form-control" id="date" [(ngModel)]="date">
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col">
      <div class="form-group">
        <label class="logoGreenDark" for="startTime">Abfahrtszeit</label>
        <input #time type="time" class="form-control" id="startTime" [(ngModel)]="startTime">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="duration" class="logoGreenDark">Dauer</label>
        <select name="" id="duration" class="form-control" [(ngModel)]="duration">
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="8">9</option>
          <option value="8">10</option>
          <option value="8">11</option>
          <option value="8">12</option>
        </select>
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label class="logoGreenDark" for="endTime">Ankunftszeit</label>
        <input type="time" readonly class="form-control" id="endTime" [(ngModel)]="endTime">
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="seats" class="logoGreenDark">Sitzplätze</label>
        <select name="" id="seats" class="form-control" [(ngModel)]="seats">
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="storage" class="logoGreenDark">Stauraum</label>
        <select name="" id="storage" class="form-control" [(ngModel)]="storage">
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
      </div>

    </div>
    <div class="col-4">
      <div><label for="customRange3" class="logoGreenDark">Preis: {{price}}</label></div>
      <div class="">
        <!--        null komma null responsiv -->
        <input type="range" class="form-range mt-2" min="0" max="500" id="customRange3" [(ngModel)]="price"
               style="min-width: 100%; max-width: 100%">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5 m-4">
      <button class="btn btn-success btn-block">Erstellen</button>
    </div>
  </div>
</div>

