.infoicon{
  width: 20%;
  position: relative;
  top: -45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infoheight{
  height: 10em;
  width: 11em;
}

.buttonSize{
  height: 12em;
  width: 14em;
}
