<div class="container">
  <div *ngIf="this.userService.currUser">
    <form id="add-car-form" [formGroup]="form" (ngSubmit)="onSubmit()" style="margin-top: 100px">


      <div class="row m-2" >
        <div class="form-group col-md-12">
          <div class="input-group-prepend">
            <span class="input-group-text justify-content-center" id="add-car-model"
                  style="width: 60%; position: relative; margin-right: auto; margin-left: auto">Fahrzeug-Model</span>
          </div>

          <input type="text" class="form-control"  style="width: 60%; position: relative; margin-right: auto; margin-left: auto" placeholder="VW Touran, Porsche 911, ..." aria-label="Car-Model"
                 aria-describedby="add-car-model" id="add-car-model-input" formControlName="carModel"
                 required>
          <div
            *ngIf="this.form.controls['carModel'].invalid && (this.form.controls['carModel'].dirty || this.form.controls['carModel'].touched)"
            class="alert-danger" style="width: 60%; position: relative; margin-right: auto; margin-left: auto">
            <div *ngIf="this.form.controls['carModel'].errors?.required">
              bitte Fahrzeug-Model hinfügen.
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <div class="input-group-prepend">
            <span class="input-group-text justify-content-center" id="add-car-mark"
                  style="width: 60%; position: relative; margin-right: auto; margin-left: auto">Kennzeichen</span>
          </div>
          <input type="text" class="form-control" style="width: 60%; position: relative; margin-right: auto; margin-left: auto" placeholder="Kennzeichen" aria-label="car-mark"
                 aria-describedby="add-car-mark" id="add-car-mark-input"
                 formControlName="carMark" required>
          <div
            *ngIf="this.form.controls['carMark'].invalid && (this.form.controls['carMark'].dirty || this.form.controls['carMark'].touched)"
            class="alert-danger" style="width: 60%; position: relative; margin-right: auto; margin-left: auto">
            <div *ngIf="this.form.controls['carMark'].errors?.required">
              bitte Kennzeichen hinfügen.
            </div>
          </div>
        </div>
      </div>


      <div class="row m-2">
        <div class="form-group col-md-12">
          <div class="input-group-prepend">
            <span class="input-group-text justify-content-center" id="add-car-Seats"
                  style="width: 60%; position: relative; margin-right: auto; margin-left: auto">Sitzplätze</span>
          </div>
          <input type="number" class="form-control"  style="width: 60%; position: relative; margin-right: auto; margin-left: auto" placeholder="Sitzplaetze" aria-label="carSeats"
                 aria-describedby="add-car-seats" id="add-car-seats-input"
                 formControlName="carSeats" required>
          <div
            *ngIf="this.form.controls['carSeats'].invalid && (this.form.controls['carSeats'].dirty || this.form.controls['carSeats'].touched)"
            class="alert-danger" style="width: 60%; position: relative; margin-right: auto; margin-left: auto">
            <div *ngIf="this.form.controls['carSeats'].errors?.required">
              bitte Sitzplaetze hinfügen.
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <div class="input-group-prepend">
            <span class="input-group-text justify-content-center" id="add-Storage"
                  style="width: 60%; position: relative; margin-right: auto; margin-left: auto">Stauraum</span>
          </div>
          <input type="number" class="form-control" style="width: 60%; position: relative; margin-right: auto; margin-left: auto" placeholder="Stauraum in ㎥" aria-label="Storage"
                 aria-describedby="add-storage" id="add-storage-input" formControlName="carStorage" required>
          <div
            *ngIf="this.form.controls['carStorage'].invalid && (this.form.controls['carStorage'].dirty || this.form.controls['carStorage'].touched)"
            class="alert-danger" style="width: 60%; position: relative; margin-right: auto; margin-left: auto">
            <div *ngIf="this.form.controls['carStorage'].errors?.required">
              bitte Stauraum hinfügen.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 ">
          <div class="input-group mb-3" style="display: flex; flex-direction: row; justify-content: center">
            <button type="submit" class="btn btn-info" style="background-color: #005B51"
                    [disabled]="this.form.invalid || this.form.pristine">Fahrzeug hinzufügen
            </button>
          </div>
        </div>
      </div>

    </form>

    <div style="display: flex; flex-direction: row; justify-content: center">
      <div class="row">
        <div *ngFor="let car of userService.currUser.car; let i = index">
          <div class="ml-3 mr-3">
            <app-car-item [carId]="car" (deleteEvent)="this.deleteCar(car)"></app-car-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


