
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../../../../assets/img/SVG/Zeichenflache_4.svg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 40em; /*55em für qhdBildschirm*/
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.center {
  margin: auto;
  width: 70%;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
display: none;
-webkit-appearance: none;
}

.colpad {
  padding: 0;
  margin: 0;
  width: 2em;
}

.input-opaque{
  background-color: rgba(0, 0, 0, 0.0);
  border-color: rgba(0, 0, 0, 0.0);
}

.text-opaque{
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  border-color: rgba(0, 0, 0, 0.0);
  outline: none /*das hier noch auskommentieren -Serag*/
}

.form-row-style {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 35px;
  position: center;
  margin: 0;
  padding: 0;
  /*height: 10em; !*hier so 5em*!*/
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

