<div class="container rounded mt-4 shadow bg-white border-0 p-4 ">
  <div id="communicationTitle" class="h3 logoGreenDark text-center">Unterhaltung zu dieser Tour!</div>
  <div class="d-flex justify-content-center pt-3 pb-2">
    <textarea #message placeholder="Unterhalte dich mit den Anderen!" class="form-control addtxt"></textarea>
    <button (click)="addPost(message.value); message.value = ''" class="btn btn-dark ml-1">Abschicken</button>
  </div>
  <div class="d-flex justify-content-center py-2" *ngFor="let post of posts | async">
    <div *ngIf="userService.currUser?.uid === post.author" class="ml-auto">
      <app-post-card [post]="post"></app-post-card>
    </div>
    <div *ngIf="userService.currUser?.uid !== post.author" class="mr-auto">
      <app-post-card [post]="post"></app-post-card>
    </div>
  </div>
</div>
