<div *ngIf="shareData.isUserDriver">
  <!--  Modal Header -->
  <div class="modal-header border-0 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 justify-content-center">
          <div class="modal-title text-center h4 mx-auto logoGreenDark">Fahrt bestätigen</div>
        </div>
        <div class="col-1"></div>
        <div class="col-1 p-0">
          <button type="button" class="close logoGreenDark" aria-label="Close" style="position: absolute"
                  (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-body border-0 pt-2">
    <div class="container">
      <div class="row">
        <div class="col text-center"><div>Erstellen Sie den Code, um die Fahrt von den Mitfahrern bestätigen zu können</div></div>
      </div>
          <hr>
      <div class="row justify-content-center">
        <div class="col text-center">
          <h4 class="h4">{{this.code}}</h4>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Footer -->
  <div class="modal-footer">

    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-6 ">
          <button type="button" class="btn btn-success mx-auto m-3 btn-block"
                  (click)="this.createCode()" [disabled]="this.alreadyCreated">Code erstellen
          </button>
        </div>
      </div>


    </div>
  </div>

</div>


<div *ngIf="!shareData.isUserDriver">
  <!--  Modal Header -->
  <div class="modal-header border-0 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 justify-content-center">
          <div class="modal-title text-center h4 mx-auto logoGreenDark">Fahrt bestätigen</div>
        </div>
        <div class="col-1"></div>
        <div class="col-1 p-0">
          <button type="button" class="close logoGreenDark" aria-label="Close" style="position: absolute"
                  (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-body border-0 pt-2">

    <div class="d-flex justify-content-center mb-2">
      <div class="text-center">Geben Sie den Code des Fahrers ein, um die Fahrt final abzuweckeln und zu bezahlen!</div>
    </div>

    <hr>

    <div class="d-flex justify-content-center">
      <input #i1 type="text" min="0" max="9" maxlength="1" class="form-control text-center {{wrongInput}}" [(ngModel)]="pos1" (keydown)="validInput(i1.value)">
      <input #i2 type="text" min="0" max="9" maxlength="1" class="form-control text-center {{wrongInput}}" [(ngModel)]="pos2" (keydown)="validInput(i2.value)">
      <input #i3 type="text" min="0" max="9" maxlength="1" class="form-control text-center {{wrongInput}}" [(ngModel)]="pos3" (keydown)="validInput(i3.value)">
      <input #i4 type="text" min="0" max="9" maxlength="1" class="form-control text-center {{wrongInput}}" [(ngModel)]="pos4" (keydown)="validInput(i4.value)">
      <input #i5 type="text" min="0" max="9" maxlength="1" class="form-control text-center {{wrongInput}}" [(ngModel)]="pos5" (keydown)="validInput(i5.value)">
      <input #i6 type="text" min="0" max="9" maxlength="1" class="form-control text-center {{wrongInput}}" [(ngModel)]="pos6" (keydown)="validInput(i6.value)">
      <input #i7 type="text" min="0" max="9" maxlength="1" class="form-control text-center {{wrongInput}}" [(ngModel)]="pos7" (keydown)="validInput(i7.value)">
      <input #i8 type="text" min="0" max="9" maxlength="1" class="form-control text-center {{wrongInput}}" [(ngModel)]="pos8" (keydown)="validInput(i8.value)">

    </div>
    <div *ngIf="inputMessage !== ''" class="text-danger text-center mt-1">{{inputMessage}}</div>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">

    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-6 ">
          <button type="button" class="btn btn-success mx-auto m-3 btn-block" (click)="confirmCode()">Bestätigen
          </button>
        </div>
      </div>


    </div>
  </div>
</div>
