<!--  Modal Header -->
<div class="container">
<div class="modal-header border-0">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 justify-content-center">
        <div class="modal-title text-center h4 mx-auto logoGreenDark">Account verwalten</div>
      </div>
      <div class="col-1"></div>
      <div class="col-1 p-0">
        <button type="button" class="close logoGreenDark" aria-label="Close"
                style="position: absolute; padding-top: 5px; padding-right: 20px"
                (click)="activeModal.dismiss()">
          <span class="btn btn-primary btn-danger justify-content-center" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="form-group col-md-12">
    <label for="inputEmail" class="logoGreenDark">Email</label>
    <input #mail
           type="email"
           class="form-control {{wrongEmailClass}}"
           id="inputEmail"
           placeholder="name@example.com"
           (keydown)="validEmail(mail.value)"
           (keydown.enter)="inputEmail()"
           [(ngModel)]="email">
    <div *ngIf="emailMessage !== ''" class="{{emailColor}}">{{emailMessage}}</div>
  </div>
</div>

  <div class="row">
    <div class="col text-center">
      <button class="btn btn-success" (click)="this.inputEmail()">E-Mail ändern</button>
    </div>
  </div>

<div class="row">
  <div class="form-group col-12">
    <label for="inputPassword" class="logoGreenDark">Password</label>
    <input #passw
           type="password"
           class="form-control {{wrongPasswordClass}}"
           id="inputPassword"
           (keypress)="validPassword(passw.value)"
           (keydown.enter)="inputPassword()"
           [(ngModel)]="password">
    <div *ngIf="passwordMessage !== ''" class="{{passwordColor}}">{{passwordMessage}}</div>
  </div>

</div>
<div class="row">
  <div class="form-group col-md-12">
    <label for="inputPassword" class="logoGreenDark">
      Passwort wiederholen</label>
    <input #rpassw
           type="password"
           class="form-control {{wrongRepeatPasswordClass}}"
           id="repeatPassword"
           (keypress)="validRepeatPassword(rpassw.value)"
           (keydown.enter)="inputPassword()"
           [(ngModel)]="repeatPassword">
    <div *ngIf="passwordRepeatMessage !== ''" class="{{passwordColor}}">{{passwordRepeatMessage}}</div>
  </div>
</div>

  <div class="row mb-3">
    <div class="col text-center">
      <button class="btn btn-success" (click)="this.inputPassword()">Passwort ändern</button>
    </div>
  </div>


</div>
