/* You can add global styles to this file, and also import other style files */
.logoGreenDark {
  color: #005B51;
}

.logoGreenLight {
  color: #F3FBED;
}

.logoGreenMedium {
  color: #208479;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
